{% extends 'base.html.twig' %}

{% block title %}Artistes{% endblock %}

{% block body %}
    <h1>Artistes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ artiste.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artiste.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{asset('images/artistes/'~artiste.image)}}" height="200px" alt="image"></td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('artistes_index') }}">Retour</a>
    {% endif %}  
    
    {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('artistes_edit', {'id': artiste.id}) }}">Modifier</a> {# Formulaire de modification #}
    {% endif %}  
    
    {% if is_granted('ROLE_ADMIN') %}
                {{ include('artistes/_delete_form.html.twig') }} {# Formulaire de suppression #}
    {% endif %}  
    
{% endblock %}
